parameters:
    sp_cert_file: "%kernel.project_dir%/saml/sp.crt"
    sp_cert_key: "%kernel.project_dir%/saml/sp.key"

light_saml_symfony_bridge:
    own:
        entity_id: "%env(SAML_ENTITY_ID)%"
        credentials:
            -
                certificate: "%sp_cert_file%"
                key:         "%sp_cert_key%"
                password:    ~
    party:
        idp:
            files:
                - "%kernel.project_dir%/saml/idp.xml"
    store:
        id_state: SchoolIT\CommonBundle\Store\IdStore