{
    frankenphp {
        php_ini date.timezone Europe/Berlin
        php_ini memory_limit 512M

        worker {
           file ./public/index.php
           watch
        }
    }

    http_port {$ICC_PORT:80}
}

:{$ICC_PORT:80} {
    log
    encode zstd br gzip

    root ./public/

    php_server
}