parameters:
	level: 5
	customRulesetUsed: true
	paths:
	    - src
	inferPrivatePropertyTypeFromConstructor: true
	ignoreErrors:
	    - "~Parameter \\#1 \\$array of method App\\\\Sorting\\\\Sorter::sort\\(\\) is passed by reference, so it expects variables only\\.~"
	excludePaths:
		- '%rootDir%/../../../src/Markdown/*'
		- '%rootDir%/../../../src/DataFixtures/*'
	symfony:
		container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
	doctrine:
		objectManagerLoader: tests/object-manager.php
		allowNullablePropertyForRequiredField: true