<form role="form" method="get" class="form hidden-print">
    <div class="form-group">
        <label for="grade" class="control-label">{{ 'label.grade'|trans }}:</label>
        <select name="gradeId" id="grade" class="form-control" data-trigger="submit" data-choice="true">
            <option value="">{{ 'label.select.grade'|trans }}</option>
            {% for g in gradeFilter.grades %}
                <option value="{{ g.id() }}" {% if gradeFilter.currentGrade != null and gradeFilter.currentGrade.id == g.id %}selected="selected"{% endif %}>{{ g.getName() }}</option>
            {% endfor %}
        </select>
    </div>
</form>