<form role="form" method="get" class="form hidden-print">
    <div class="form-group">
        <label for="teacher">{{ 'label.teacher'|trans }}:</label>
        <select name="teacherAcronym" id="teacher" class="form-control" data-trigger="form-submit" data-select="select2">
            <option value="">{{ 'label.select.teacher'|trans }}</option>
            {% for t in teacherFilter.teachers %}
                <option value="{{ t.acronym() }}" {% if teacherFilter.currentTeacher != null and teacherFilter.currentTeacher.acronym == t.acronym %}selected="selected"{% endif %}>{{ t|teacher(true) }}</option>
            {% endfor %}
        </select>
    </div>
</form>