{% extends "main.html.twig" %}

{% block title %}{{ 'plans.substitutions.label'|trans }}{% endblock %}

{% block content %}
    {% include "_messages.html.twig" %}

    <div class="card">
        <div class="card-body">
            <div class="row">
                {% if teacherFilter.teachers|length > 0 %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {% include "_filter/teacher.html.twig" %}
                    </div>
                {% endif %}

                {% if studentFilter.studentGradeGroups|length > 0 %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {% include "_filter/student.html.twig" %}
                    </div>
                {% endif %}

                {% if gradeFilter.grades|length > 0 %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {% include "_filter/grade.html.twig" %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}