{% extends "main.html.twig" %}

{% block content %}
    <div class="container-flex px-0">
        <div class="row">
            <div class="col-xl-2 d-xl-grid d-md-none d-sm-none d-none sticky-sidebar">
                {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}
            </div>

            <div class="d-xl-none">
                {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu_collapsed.html.twig' }) }}
            </div>

            <div class="col-xl-10">
                {% block inner %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}