@import '../../vendor/schulit/common-bundle/Resources/assets/css/variables.scss';

// Import SCSS from custom
@import "custom/*.scss";

// Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Import FontAwesome
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

// Import SchulIT design
@import '../../vendor/schulit/common-bundle/Resources/assets/css/layout.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/additions.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/div-tables.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/swagger.scss';
@import '../../node_modules/bootstrap-darkmode/darktheme';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/variables.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/layout';

// Import editor
@import '../../node_modules/easymde/src/css/easymde.css';
@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/editor';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/editor';

// Import Bootstrap 4 Card Tables
@import '../../node_modules/bootstrap4-card-tables/src/bootstrap4-card-tables';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/nested-card-tables.scss';

// Import choices.js
@import '../../node_modules/choices.js/src/styles/choices';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/choices-fixes.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/choices';

// Import color picker
@import '../../node_modules/vanilla-picker/src/index';

// Import dropzone
@import '../../node_modules/dropzone/dist/dropzone';

// Import datatables
@import '../../node_modules/simple-datatables/dist/style.css';

// Import SCSS from overrides
@import "overrides/*.scss";

/* Editor fixes to make it work with FontAwesome (see https://stackoverflow.com/a/26638216) */
.md-container {
  .btn-group {
    margin-right: 5px;
  }

  .btn-default {
    @extend .btn-secondary;
  }
}

.dismissed-message {
  display: none;
}

.card {
  .remark {
    font-weight: bold;
  }
}

// Editor fixes
.CodeMirror {
  font-size: 110%;

  .editor-preview {
    font-size: 100%;
    font-family: $font-family-base;
  }
}

.editor-toolbar {
  .fa-header {
    @extend .fa-heading;
  }

  .fa-picture-o {
    @extend .fa-image;
  }
}

.color-rect {
  vertical-align: baseline;
  border-radius: .25em;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-bottom: -3px;
}

// Timetable
.timetable {
  .col-lesson {
    max-width: 10%;
  }

  .col-day {
    width: 18%;
  }

  .current {
    background: #efefef;
  }

  .text-secondary {
    a {
      color: $secondary !important;
    }
  }
}

  // Wiki
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}

.pointer {
  cursor: pointer;
}


// Dropzone
.dropzone {
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);

  &.no-background {
    background: none;
  }

  &.dz-drag-hover {
    border-color: $primary;
    background: $breadcrumb-background;
  }

  &.no-min-height {
    min-height: auto;
  }

  &.hide-dz-default {
    .dz-default.dz-message {
      display: none;
    }
  }
}

.message-danger {
  border-color: $danger;
  background-color: theme-color-level("danger", $alert-bg-level)
}

.message-warning {
  border-color: $warning;
  background: mix(#fff, $warning, 90);
}

[data-theme=dark] {
  .message-danger {
    .card-title,
    .card-title a {
      color: black !important;
    }

    @extend .message-danger;
    color: black;
  }

  .message-warning {
    .card-title,
    .card-title a {
      color: black !important;
    }

    @extend .message-warning;
    color: black;
  }
}

.dashboard-lesson {
  @include font-size(1.75rem);
  @extend .p-3;

  min-width: 55px;

  .lesson-time {
    @include font-size(0.6rem);
  }
}

.dashboard-lesson-large {
  min-width: 80px;
}

.exam-lesson {
  @include font-size(1.75rem);
  @extend .p-3;

  min-width: 90px;

  .exam-date {
    @include font-size(0.8rem);
  }
}

.substitution-lesson {
  @include font-size(1.75rem);
  @extend .p-3;

  width: 90px;
  hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;

  &.text-small {
    font-size: 0.9rem;
  }

  .exam-date {
    @include font-size(0.8rem);
  }
}

.bg-danger-light {
  background-color: theme-color-level("danger", $alert-bg-level)
}

[data-theme=dark] {
  .border-primary {
    border-color: $default-border !important;
  }

  .text-black-50 {
    @extend .text-white-50;
  }

  .dashboard-lesson,
  .substitution-lesson {
    @extend .text-white-50;
  }
  .timetable {
    .current {
      &.text-secondary {
        a {
          @extend .text-white-50;
        }

        @extend .text-white-50;
      }

      background: rgba(#efefef, 0.4) !important;
    }
  }
}

.gray-300 {
  color: $gray-300;
}

.hide {
  display: none !important;
}


.badge-light.badge-card {
  @extend .text-secondary;
}

.fa-1em {
  font-size: 1em;
}

.link-hover:hover {
  background: $nav-pills-link-active-bg;
  color: $nav-pills-link-active-color;
}

// Data table fixes
.dataTable-top,
.dataTable-bottom {
  display: none;
}

.dataTable-container {
  border:none !important;
}

.table-bordered.dataTable-table {
  border-collapse: collapse;
}

.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 1rem;
}

.choices {
  margin-bottom: 0;
}

.text-larger {
  font-size: 1.2rem;
}

.spacer {
  display: flex;
  margin-bottom: $spacer;

  &:before,
  &:after {
    content: "";
    border-bottom: 1px solid $card-border-color;
    flex: 1 1;
    margin:auto;
  }

  &:before {
    margin-right: $spacer;
  }

  &:after {
    margin-left: $spacer;
  }
}

.border-right-3 {
  border-right-width: 3px;
}

.flush-last-p {
  p:last-child {
    margin-bottom: 0;
  }
}