$enable-shadows: true;
$enable-gradients: true;


// Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Import FontAwesome
@import '../../node_modules/font-awesome/scss/font-awesome';

// Import SchoolIT design
@import '../../vendor/schoolit/common-bundle/Resources/assets/css/layout.scss';
@import '../../vendor/schoolit/common-bundle/Resources/assets/css/additions.scss';

// Import editor
@import '../../node_modules/bootstrap-markdown-editor-4/dist/css/bootstrap-markdown-editor.min.css';

// Select 2
@import '../../node_modules/select2/dist/css/select2.css';
@import '../../node_modules/select2-bootstrap4-theme/dist/select2-bootstrap4.css';

small, .small {
  font-size: 90% !important;
}

table {
  .column-320 {
    width: 320px;
  }

  td {
    p, ul {
      margin-bottom: 0 !important;
    }
  }
}

.widget {
  text-align: left;
}

/* Editor fixes to make it work with FontAwesome (see https://stackoverflow.com/a/26638216) */
.md-container {
  .btn-group {
    margin-right: 5px;
  }

  .btn-default {
    @extend .btn-secondary;
  }

  .fas {
    @extend .fa;
  }
}

.dismissed-message {
  display: none;
}

.exam {
  padding: 3px 5px;
  margin-bottom: 10px;
  background: #f5f5f5;

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  >.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .remark {
    font-weight: bold;
  }
}