// Import SCSS from custom
@import "custom/*.scss";

@import '../../vendor/schulit/common-bundle/Resources/assets/css/variables.scss';

// Import Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import FontAwesome
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

// Import SchulIT design
@import '../../vendor/schulit/common-bundle/Resources/assets/css/layout.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/callouts.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/div-tables.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/swagger.scss';

// Import editor
@import '../../node_modules/easymde/src/css/easymde.css';
@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/editor';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/editor.scss';

// Import choices.js
@import '../../node_modules/choices.js/src/styles/choices';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/choices-fixes.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/choices';

// Import color picker
@import '../../node_modules/vanilla-picker/src/index';

// Import dropzone
@import '../../node_modules/dropzone/dist/dropzone';

// Import datatables
@import '../../node_modules/simple-datatables/dist/style.css';

// Import SCSS from overrides
@import "overrides/*.scss";

/* Editor fixes to make it work with FontAwesome (see https://stackoverflow.com/a/26638216) */
.md-container {
  .btn-group {
    margin-right: 5px;
  }

  .btn-default {
    @extend .btn-secondary;
  }
}

.dismissed-message {
  display: none;
}

.card {
  .remark {
    font-weight: bold;
  }
}

// Editor fixes
.CodeMirror {
  font-size: 110%;

  .editor-preview {
    font-size: 100%;
    font-family: $font-family-base;
  }
}

.editor-toolbar {
  .fa-header {
    @extend .fa-heading;
  }

  .fa-picture-o {
    @extend .fa-image;
  }
}

.color-rect {
  vertical-align: baseline;
  border-radius: .25em;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-bottom: -3px;
}

// Timetable
.timetable {
  .col-lesson {
    max-width: 10%;
  }

  .col-day {
    width: 18%;
  }

  .current {
    background: #efefef;
  }

  .text-secondary {
    a {
      color: $secondary !important;
    }
  }
}

  // Wiki
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}

.pointer {
  cursor: pointer;
}


// Dropzone
.dropzone {
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);

  &.no-background {
    background: none;
  }

  &.dz-drag-hover {
    border-color: $primary;
    background: $breadcrumb-bg;
  }

  &.no-min-height {
    min-height: auto;
  }

  &.hide-dz-default {
    .dz-default.dz-message {
      display: none;
    }
  }
}

[data-theme=dark] {
  .message-danger {
    .card-title,
    .card-title a {
      color: black !important;
    }

    @extend .message-danger;
    color: black;
  }

  .message-warning {
    .card-title,
    .card-title a {
      color: black !important;
    }

    @extend .message-warning;
    color: black;
  }
  
  .list-group-item-danger {
    color: #fff !important;
  }
  
  .list-group-item-warning {
    color: #212529 !important;
  }
  
  .list-group-item-success {
    color: #fff !important;
  }

}

.dashboard-lesson {
  @include font-size(1.75rem);
  @extend .p-3;

  min-width: 55px;

  .lesson-time {
    @include font-size(0.6rem);
  }
}

.dashboard-lesson-large {
  min-width: 80px;
}

.exam-lesson {
  @include font-size(1.75rem);
  @extend .p-3;

  min-width: 90px;

  .exam-date {
    @include font-size(0.8rem);
  }
}

.substitution-lesson {
  @include font-size(1.75rem);
  @extend .p-3;

  width: 90px;
  hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;

  &.text-small {
    font-size: 0.9rem;
  }

  .exam-date {
    @include font-size(0.8rem);
  }
}

.book-lesson {
  @include font-size(1.75rem);

  min-width: 55px;
}

[data-theme=dark] {
  .border-primary {
    border-color: $border-color !important;
  }

  .text-black-50 {
    @extend .text-white-50;
  }

  .dashboard-lesson,
  .substitution-lesson {
    @extend .text-white-50;
  }
  .timetable {
    .current {
      &.text-secondary {
        a {
          @extend .text-white-50;
        }

        @extend .text-white-50;
      }

      background: rgba(#efefef, 0.4) !important;
    }
  }
}

.gray-300 {
  color: $gray-300;
}

.hide {
  display: none !important;
}


.badge-light.badge-card {
  @extend .text-secondary;
}

.fa-1em {
  font-size: 1em;
}

.link-hover:hover {
  background: $nav-pills-link-active-bg;
  color: $nav-pills-link-active-color;
}

// Data table fixes
.dataTable-top,
.dataTable-bottom {
  display: none;
}

.dataTable-container {
  border:none !important;
}

.table-bordered.dataTable-table {
  border-collapse: collapse;
}

.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 1rem;
}

.choices {
  margin-bottom: 0;
}

.text-larger {
  font-size: 1.2rem;
}

.spacer {
  display: flex;
  margin-bottom: $spacer;

  &:before,
  &:after {
    content: "";
    border-bottom: 1px solid $card-border-color;
    flex: 1 1;
    margin:auto;
  }

  &:before {
    margin-right: $spacer;
  }

  &:after {
    margin-left: $spacer;
  }
}

.border-right-3 {
  border-right-width: 3px;
}

.flush-last-p {
  p:last-child {
    margin-bottom: 0;
  }
}

.no-columns {
  .col-sm-2,
  .col-sm-10 {
    flex: none;
    max-width: unset;
  }
}

.bg-selected {
  background: lighten($primary, 80%);
}

table.align-td-middle {
  td {
    @extend .align-middle;
  }
}

.card {
  .card-footer {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

th.rotate-90 {
  > div {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    position: relative;
    left: calc(50% - 0.75rem);
  }
}

table {
  &.table-bordered {
    tr {
      th:first-child {
        border-left: 0;
      }

      th:last-child {
        border-right: 0;
      }
    }
  }
}

.card-body {
  > .bs-callout:first-child {
    margin-top: 0;
  }
}

.col-md-9 > .bs-callout:first-child {
  margin-top: 0;
}

.bs-callout {
  > h5:not(.no-icon)::before {
    @extend .fas;
    @extend .fa-circle-info;
    margin-right: 0.25rem;
  }

  &.bs-callout-success > h5:not(.no-icon)::before {
    @extend .fa-circle-check;
  }

  &.bs-callout-danger > h5:not(.no-icon)::before {
    @extend .fa-circle-exclamation;
  }
}

.custom-accordion {
  .card:first-child {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card:not(:first-child) {
    border-radius: 0;
    border-bottom: 0;
    border-top: 0;
  }

  .card > div:not(.collapse) > .card-body {
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
  }

  .card:last-child,
  .card:last-child > div:not(.card-header),
  .card:last-child .card-body,
  .card:last-child > .card-header[data-is-collapsed="true"] {
    border-bottom-left-radius: var(--bs-card-border-radius);
    border-bottom-right-radius: var(--bs-card-border-radius);
  }
}