# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration

imports:
    - { resource: version.yaml }
    - { resource: config.yaml }

parameters:
    commonmark.config:
        renderer:
            block_separator: "\n"
            inner_separator: "\n"
            soft_break: "\n"
        enable_em: true,
        enable_strong: true,
        use_asterisk: true,
        use_underscore: true,
        html_input: 'escape'
        allow_unsafe_links: false

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    _instanceof:
        App\Dashboard\Absence\AbsenceResolveStrategyInterface:
            tags: [ 'app.absence_resolver' ]
        App\Grouping\GroupingStrategyInterface:
            tags: [ 'app.grouping_strategy' ]
        App\Sorting\SortingStrategyInterface:
            tags: [ 'app.sorting_strategy' ]
        App\Notification\Email\EmailStrategyInterface:
            tags: [ 'app.notifications.email_strategy' ]
        App\Untis\Html\Substitution\InfotextReaderInterface:
            tags: [ 'app.untis.import.infotext_reader' ]
        App\StudentAbsence\AbstractNotifier:
            bind:
                $appName: '%env(APP_NAME)%'
                $sender: '%env(MAILER_FROM)%'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection'
            - '../src/Entity'
            - '../src/Request/Data'
            - '../src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    App\Doctrine\:
        resource: '../src/Doctrine/*Subscriber.php'
        tags: ['doctrine.event_subscriber']

    # SESSIONS
    Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler:
        arguments:
            $pdoOrDsn: '%env(DATABASE_URL)%'

    # SAML
    LightSaml\SpBundle\Security\User\UsernameMapperInterface:
        alias: lightsaml_sp.username_mapper.simple

    LightSaml\Store\Id\IdStoreInterface:
        class: SchulIT\CommonBundle\Store\IdStore

    SchulIT\CommonBundle\Command\CreateCertificateCommand:
        arguments:
            $types:
                saml:
                    keyFile: '%sp_cert_key%'
                    certFile: '%sp_cert_file%'
                oauth2:
                    keyFile: '%kernel.project_dir%/oauth/oauth.key'
                    certFile: '%kernel.project_dir%/oauth/oauth.pub'

    SchulIT\CommonBundle\EventSubscriber\SamlExceptionSubscriber:
        arguments:
            $retryRoute: 'lightsaml_sp.login'
            $loggedInRoute: 'dashboard'

    # JSON
    App\Request\JsonParamConverter:
        class:
        arguments:
            $prefixes:
                - 'App\Request\Data'
                - 'App\Request\Book'
                - 'App\Request\Message'

    JMS\Serializer\SerializationContext:
        calls:
            - [ setSerializeNull, [ true ]]

    JMS\Serializer\ContextFactory\DeserializationContextFactoryInterface:
        alias: 'jms_serializer.configured_deserialization_context_factory'

    # FLYSYSTEM
    App\Filesystem\DocumentFilesystem:
        public: true
        arguments:
            $filesystem: '@oneup_flysystem.documents_filesystem'

    App\Filesystem\MessageFilesystem:
        public: true
        arguments:
            $filesystem: '@oneup_flysystem.messages_filesystem'

    App\Security\ImportUserAuthenticator:
        arguments:
            $presharedKey: '%env(IMPORT_PSK)%'

    # SECURITY
    App\Security\User\UserMapper:
        arguments:
            $typesMap: '%types_map%'

    App\Security\CronUserProvider:
        arguments:
            $username: 'cron'
            $password: '%env(CRON_PASSWORD)%'

    # MENU
    App\Menu\Builder:
        arguments:
            $idpProfileUrl: '%env(IDP_PROFILE_URL)%'
        tags:
            - { name: knp_menu.menu_builder, method: mainMenu, alias: mainMenu }
            - { name: knp_menu.menu_builder, method: userMenu, alias: userMenu }
            - { name: knp_menu.menu_builder, method: adminMenu, alias: adminMenu }
            - { name: knp_menu.menu_builder, method: settingsMenu, alias: settingsMenu }
            - { name: knp_menu.menu_builder, method: servicesMenu, alias: servicesMenu }
            - { name: knp_menu.menu_builder, method: systemMenu, alias: systemMenu }
            - { name: knp_menu.menu_builder, method: dataMenu, alias: dataMenu }
            - { name: knp_menu.menu_builder, method: importMenu, alias: importMenu }
            - { name: knp_menu.menu_builder, method: toolsMenu, alias: toolsMenu }

    SchulIT\CommonBundle\Menu\Voter:
        tags:
            - { name: knp_menu.voter }

    # SERVICES
    App\Dashboard\Absence\:
        resource: '../src/Dashboard/Absence/*Strategy.php'

    App\Sorting\:
        resource: '../src/Sorting/*Strategy.php'

    App\Grouping\:
        resource: '../src/Grouping/*Strategy.php'

    App\Dashboard\Absence\AbsenceResolver:
        arguments:
            - !tagged app.absence_resolver

    App\Grouping\Grouper:
        arguments:
            - !tagged app.grouping_strategy

    App\Sorting\Sorter:
        arguments:
            - !tagged app.sorting_strategy

    App\Rooms\Status\ServiceCenterRoomStatusHelper:
        arguments:
            $client: '@eight_points_guzzle.client.servicecenter'
            $isEnabled: '%env(bool:ROOM_STATUS)%'

    # CONTROLLER
    App\Controller\WikiAdminController:
        bind:
            $wikiFilesystem: '@oneup_flysystem.wiki_filesystem'

    App\Controller\WikiController:
        bind:
            $wikiFilesystem: '@oneup_flysystem.wiki_filesystem'

    App\Controller\StudentAbsenceController:
        bind:
            $studentAbsencesFilesystem: '@oneup_flysystem.student_absence_filesystem'

    # MARKDOWN
    League\CommonMark\Extension\CommonMarkCoreExtension: ~

    League\CommonMark\Extension\Autolink\AutolinkExtension: ~

    League\CommonMark\EnvironmentInterface:
        class: League\CommonMark\Environment
        arguments:
            $config: "%commonmark.config%"
        calls:
            - [ addExtension, [ "@League\\CommonMark\\Extension\\CommonMarkCoreExtension" ]]
            - [ addExtension, [ "@League\\CommonMark\\Extension\\Autolink\\AutolinkExtension"]]
            - [ addExtension, [ "@App\\Markdown\\MarkdownExtension" ]]

    League\CommonMark\MarkdownConverterInterface:
        class: League\CommonMark\MarkdownConverter
        arguments:
            $environment: "@League\\CommonMark\\EnvironmentInterface"

    EasySlugger\SluggerInterface:
        class: EasySlugger\Utf8Slugger

    # HELPER
    App\Ics\IcsHelper:
        arguments:
            $appName: '%env(APP_NAME)%'
            $languageCode: '%env(LANGUAGE)%'
            $appUrl: '%env(APP_URL)%'

    Mimey\MimeTypes: ~

    # CONVERTER
    App\Converter\EnumStringConverter:
        bind:
            $enumFormKeyMapping:
                gender: App\Entity\Gender
                grade_teacher_type: App\Entity\GradeTeacherType
                message_scope: App\Entity\MessageScope
                message_priority: App\Entity\MessagePriority
                study_group_type: App\Entity\StudyGroupType
                user_type: App\Entity\UserType
                ics_access_token_type: App\Entity\IcsAccessTokenType
                display_target_user_type: App\Entity\DisplayTargetUserType
                absence_reason: App\Dashboard\AbsenceReason
                sick_reason: App\Entity\SickNoteReason

    # DOCTRINE:
    Doctrine\Persistence\ManagerRegistry:
        alias: 'doctrine'

    Doctrine\Migrations\Version\DbalMigrationFactory: ~
    App\Migrations\Factory\MigrationFactoryDecorator:
        decorates: Doctrine\Migrations\Version\DbalMigrationFactory
        arguments:
            $migrationFactory: '@App\Migrations\Factory\MigrationFactoryDecorator.inner'

    # DARK MODE:
    SchulIT\CommonBundle\DarkMode\DarkModeManagerInterface:
        class: App\DarkMode\DarkModeManager

    # NOTIFICATIONS
    App\Notification\Email\:
        resource: '../src/Notification/Email/*Strategy.php'

    App\Notification\NotificationService:
        arguments:
            $emailStrategies: !tagged app.notifications.email_strategy

    App\Notification\Email\EmailNotificationService:
        arguments:
            $isEnabled: '%env(bool:NOTIFICATIONS_ENABLED)%'
            $appName: '%env(APP_NAME)%'
            $sender: '%env(MAILER_FROM)%'

    App\EventSubscriber\ReservationCheckerSubscriber:
        arguments:
            $appName: '%env(APP_NAME)%'
            $sender: '%env(MAILER_FROM)%'

    App\TeacherAbsence\TeacherAbsenceNotifier:
        arguments:
            $appName: '%env(APP_NAME)%'
            $sender: '%env(MAILER_FROM)%'

    # COMMANDS
    #SchulIT\CommonBundle\Command\SendMailsCommand:
    #    arguments:
    #        $messageLimit: '%env(int:MAILER_LIMIT)%'
    #    tags:
    #        - { name: shapecode_cron.cron_job, expression: '*\/2 * * * *' }

    App\Command\RemoveExpiredStudentAbsencesCommand:
        arguments:
            $filesystem: '@oneup_flysystem.student_absence_filesystem'

    # SECTION
    App\Section\SectionResolver: ~

    App\Section\CachedSectionResolver:
        decorates: App\Section\SectionResolver
        bind:
            $sectionResolver: '@.inner'
            $cache: '@app.cache.memory'

    App\Section\SectionResolverInterface:
        alias: App\Section\CachedSectionResolver

    # MONOLOG
    SchulIT\CommonBundle\Monolog\DatabaseHandler:
        arguments:
            $connection: '@doctrine.dbal.logger_connection'
        calls:
            - setFormatter: [ '@SchulIT\CommonBundle\Monolog\LineFormatter']

    SchulIT\CommonBundle\Monolog\UsernameProcessor:
        tags:
            - { name: monolog.processor }
    SchulIT\CommonBundle\Monolog\LineFormatter: ~
    SchulIT\CommonBundle\Monolog\RequestProcessor:
        tags:
            - { name: monolog.processor }
    SchulIT\CommonBundle\Monolog\ExceptionProcessor:
        tags:
            - { name: monolog.processor }

    #App\Monolog\UsernameProcessor:
    #    tags:
    #        - { name: monolog.processor }
    #App\Monolog\RequestProcessor:
    #    tags:
    #        - { name: monolog.processor }

    # UNTIS
    App\Untis\Html\Substitution\SubstitutionReader:
        arguments:
            $infotextReader: !tagged app.untis.import.infotext_reader

    # MISC
    App\EventSubscriber\LoadMessengerCronJobs:
        arguments:
            $command: '@console.command.messenger_consume_messages'

