{% extends '@Common/main.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" type="text/css" />
{% endblock %}

{% block javascript %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

{% block menu %}
    <nav class="navbar navbar-expand-md">
        <div class="collapse navbar-collapse" id="menu">
            {{ knp_menu_render(mainMenu, {'currentClass': 'active' }) }}
        </div>
    </nav>
{% endblock %}