<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cronjob output</title>
    </head>

    <body>
        <pre>
            {{ output|raw }}
        </pre>
    </body>
</html>